* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

.Header {
    padding: 50px;
    background-color: brown;
    size: auto;
    contain: layout;
}

.Header h1 {
    float: left;
    font-weight: bold;
    color: orange;
    display: inline-block;
    font-size: 36px;
}

.Header a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.Header nav {
    float: right;
    margin: 7px 0;
    display: inline-block;
}

.Header nav ul li{
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  .About-me {
    background-color: orangered;
    display: inline-flex;
    max-width: 100%;
  }

  .About-me h2 {
    float: left;
    color: white;
    border-right: solid;
    padding: 25px;
  }

  .About-me p {
    float:right;
    padding: 25px;
    line-height: 1.5;
    color: white; 
  }

  .Work {
    background-color: brown;
    display: inline-flex;
    width: 100%; 
  }
  .Work h2 {
    float: left;
    color: orange;
    border-right: solid;
    padding: 25px;
  }

  .flex-container {
    background-image: "run buddy.jpg";
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .run-buddy {
      padding: 25px;
  }

  .box-r {
      color: orangered;
      background-color: white;
  }
  .Horiseon {
    padding: 25px;
}

.box-h {
    color: orangered;
    background-color: white;
}